{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<style>
body{background-color:#2c3e50}
h1{color:white}
h2{color:white}
h3{color:white}
p{color:white}
</style>
<!--Changed background color-->
<!--Changed text color-->

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{=msg}}
{{pass}}
<div style="color:white; font-size:x-large;">Here's Our Design For the Arcade Cabinet</div>
<div style="color:white; font-size:small;">March 10, 2015 by Isaac Lean</div>
<div> <img src="/{{=response.title}}/static/images/arcadecabinet.png" width="900" alt="Characters"> </div>
<div style="color:white; font-size:small;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Praesent ex magna, sodales sit amet aliquet sit amet, lobortis ac orci. Curabitur sit amet interdum urna. 
Mauris ut elementum ligula. Mauris id dignissim purus, ac lobortis mi. In rhoncus, felis a pretium egestas, est ipsum euismod felis, ultricies aliquam risus metus eget lorem. 
Nunc sed mi et sapien mattis tincidunt. Curabitur efficitur, arcu eget aliquet feugiat, turpis tellus fermentum ligula, a porta mauris arcu quis mi. In ut finibus leo. 
Nunc ut condimentum elit. In viverra at mi a luctus. Donec convallis arcu facilisis maximus consectetur. Nam tempus erat eget mattis tincidunt. Duis in efficitur urna. 
Suspendisse in augue a ex fringilla fermentum. Sed auctor tempus tortor, sed elementum nisi venenatis et.</div>

<div style="color:white; font-size:x-large; margin-top:80px;">Our Latest Concept Art</div>
<div style="color:white; font-size:small;">February 16, 2015 by Isaac Lean</div>
<div> <img src="/{{=response.title}}/static/images/Tree Skyway 1.jpg" width="900" alt="Characters"> </div>
<div style="color:white; font-size:small;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integer justo elit, laoreet rutrum nisl eget, luctus suscipit est. 
Suspendisse egestas sapien id augue elementum feugiat. Nulla nec sapien id nulla venenatis laoreet. Nunc dictum dictum felis, non malesuada nulla mollis id. 
Proin eget augue elementum, semper lectus vel, iaculis leo. Proin ac felis ullamcorper dui ultrices fermentum nec ac dui. Praesent et vehicula erat. Ut sit amet nulla in purus posuere congue a vitae lacus. 
Donec risus odio, aliquet vitae massa at, interdum mollis nisi. Vivamus molestie, lectus nec fringilla fermentum, lorem erat interdum augue, in tempor ex nunc a sapien. 
Morbi lorem tortor, egestas in venenatis sit amet, pretium eu risus. Etiam eu odio bibendum, aliquet dui at, tincidunt lacus. Aenean congue augue vitae luctus vehicula. 
Phasellus ut eros sit amet odio sagittis semper quis volutpat est.</div>

<div style="color:white; font-size:x-large; margin-top:80px;">Another Background Title Image</div>
<div style="color:white; font-size:small;">January 30, 2015 by Omar Guzman</div>
<div> <img src="/{{=response.title}}/static/images/bgtitle3.jpg" width="900" alt="Characters"> </div>
<div style="color:white; font-size:small;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aenean congue arcu a bibendum iaculis. Phasellus porttitor enim a velit imperdiet dictum. 
Vivamus ultrices, tortor et tempus sollicitudin, mauris enim volutpat mauris, a pretium orci diam auctor velit. Nam vitae dui ac sapien commodo luctus sit amet nec tellus. 
Nullam rutrum nulla in aliquam convallis. Duis a lobortis quam. Nunc eget aliquet diam. Nullam ut libero a turpis pharetra placerat. Aliquam in ultricies urna.</div>