{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<style>
body{background-color:#2c3e50}
h1{color:white}
h2{color:white}
h3{color:white}
p{color:white}
</style>
<!--Changed background color-->
<!--Changed text color-->
<title>A Room Too Far Media</title>




<h3>A Room Too Far Media</h3> 

<h3> Art Concepts </h3> 
<div style="margin-bottom:5px">
	{{=A(IMG(_src=URL('static','images/thumbnails/cablemaw.png')), _href=URL('static','images/cablemaw.jpg'))}}
	{{=A(IMG(_src=URL('static','images/thumbnails/cablevine.png')), _href=URL('static','images/cablevine.jpg'))}}
	{{=A(IMG(_src=URL('static','images/thumbnails/cacklebranch.png')), _href=URL('static','images/cacklebranch.jpg'))}}
</div>
<div style="margin-bottom:5px"> 
	{{=A(IMG(_src=URL('static','images/thumbnails/delversduster.png')), _href=URL('static','images/delversduster.jpg'))}}
	{{=A(IMG(_src=URL('static','images/thumbnails/delversduster2.png')), _href=URL('static','images/delversduster2.jpg'))}}
	{{=A(IMG(_src=URL('static','images/thumbnails/foliantfodder.png')), _href=URL('static','images/foliantfodder.jpg'))}}
</div>
<div style="margin-bottom:5px">
	{{=A(IMG(_src=URL('static','images/thumbnails/folianthive.png')), _href=URL('static','images/folianthive.jpg'))}}
	{{=A(IMG(_src=URL('static','images/thumbnails/ingameconcept.png')), _href=URL('static','images/ingameconcept.jpg'))}}
	{{=A(IMG(_src=URL('static','images/thumbnails/miragehologram.png')), _href=URL('static','images/miragehologram.jpg'))}}
</div>
{{=A(IMG(_src=URL('static','images/thumbnails/miragephysical.png')), _href=URL('static','images/miragephysical.jpg'))}}
{{=A(IMG(_src=URL('static','images/thumbnails/smugglersjacket.png')), _href=URL('static','images/smugglersjacket.jpg'))}}
{{=A(IMG(_src=URL('static','images/thumbnails/titlebackground.png')), _href=URL('static','images/titlebackground.jpg'))}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{=msg}}
{{pass}}
