{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<title>A Room Too Far Media</title>


<h3> A Room Too Far Media </h3> 

<h3>Gameplay Video (In Progress)<h3> 
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/FOUbCP_nqSU" frameborder="0" allowfullscreen></iframe></p>

<h3> Art Concepts </h3> 
<p> Foliant Fodder </p> 
<img src="/{{=response.title}}/static/images/foliantFodder.jpg" width="600" height = "400" alt="UCSC Slugs Rule Yo" /  ></a>
<p> Foliant Hive </p> 
<img src="/{{=response.title}}/static/images/foliantHive.jpg" width="600" height = "400" alt="UCSC Slugs Rule Yo" /  ></a>
<p>Cacklebranch </p> 
<img src="/{{=response.title}}/static/images/cacklebranch.jpg" width="600" height = "400" alt="UCSC Slugs Rule Yo" /  ></a>
<p>Fong Bully Trunk </p> 
<img src="/{{=response.title}}/static/images/fongBullyTrunk.jpg" width="600" height = "400" alt="UCSC Slugs Rule Yo" /  ></a>


{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{=msg}}
{{pass}}
