          <ul class="nav nav-sidebar">
            <li><a href="#"><span class="glyphicon glyphicon-th icon" aria-hidden="true"></span> Dashboard</a></li>
            <li class="active"><a href="/workshop/zones"><span class="glyphicon glyphicon-flag icon" aria-hidden="true"></span> Zones</a></li>
            <li><a href="#"><span class="glyphicon glyphicon glyphicon-user icon" aria-hidden="true"></span> Character</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-screenshot icon" aria-hidden="true"></span> Achievements</a></li>
          </ul>