{{
	page_title='Zone List'
	inWorkshop=True
}}
{{extend 'base.html'}}

<ul>
	<li>
		<!--<a href="/workshop/zones/5684666375864320">-->
		<a href="/workshop/zones/4537134732017664">
			<div class="btnLevel">
				<h1>The Gauntlet</h1>
				<p>Baskin Engineering Building, Santa Cruz, CA</p>
			</div>
		</a>
	</li>
	<li>
		<a href="/workshop/zones/5707648880082944">
			<div class="btnLevel">
				<h1>n00b gr1nd3r</h1>
				<p>Crown Dining Hall, Santa Cruz, CA</p>
			</div>
		</a>
	</li>
</ul>

{{pass}}